@import './global.scss';

@media(max-width: 767px){
    .result-section{
        display: flex;
        flex-direction: column;
        .result-filter-section{
            width: 100%;
            border-bottom: 2px solid #000000;
            border-top: 2px solid #000000;
            input{
                margin: 10px;
                border-radius: 15px;
                border: 1px solid $thirdColor;
                padding: 10px 30px 10px 10px;
            }
            button{
                border-radius: 15px;
                background-color: $secondaryColor;
                border: none;
                padding: 10px 10px 10px 10px;
            }
            .searchForm{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                label{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    white-space: nowrap;
                    margin-bottom: 10px;
                    margin-left: 10px;
                }
            }
        }
        .result-grid{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 20px;
            padding-top: 10px;
            .result{
                display: flex;
                flex-direction: column;
                p{
                    text-align: center;
                }
            }
            img{
            max-width: 200px;
            max-height: 200px;
            }
        }
    }
}
@media(min-width: 768px){
    .result-section{
        display: flex;
        flex-direction: row;
        .result-filter-section{
            width: 20%;
            border-right: 2px solid #000000;
            border-top: 2px solid #000000;
            input{
                margin: 15px;
            }
            .searchForm{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                label{
                    margin-bottom: 10px;
                    margin-left: 10px;
                }
            }
        }
        .result-grid{
            border-top: 2px solid #000000;
            width: 80%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 20px;
            padding: 20px;
            .result{
                display: flex;
                flex-direction: column;
                p{
                    text-align: left;
                }
            }
            img{
            max-width: 200px;
            max-height: 200px;
            }
        }
    }
}