$primaryColor: #77DD77;
$secondaryColor: #F6F6D8;

*{
    padding: 0;
    margin: 0;
}
*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
// most phones
@media(max-width: 576px){

}
// smaller screens
@media(min-width: 577px){

}
// medium sized screens
@media(min-width: 768px){

}
// laptops and bigger
@media(min-width: 992px){

}
@media(min-width: 1200px){
    .intro-section{
        background-color: gray;
        height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .intro-txt{
            padding-bottom: 15px;
            font-size: 26px;
        }
        .search-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .search-bar{
                input{
                    margin-right: 5px;
                    border-radius: 15px;
                    border: 1px solid $primaryColor;
                    padding: 15px 50px;
                    font-size: 20px;
                }
                button{
                    margin: 0px 5px;
                    border-radius: 15px;
                    border: 1px solid $secondaryColor;
                    padding: 15px 25px;
                    font-size: 14px;
                }
            }
            .search-display{
                width: 100%;
                ul{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    li{
                        padding: 10px 15px;
                        margin: 10px 15px;
                        font-size: 20px;
                        background-color: #FFC067;
                        color: black; 
                        border-radius: 15px;
                    }
                }
            }
        }
    }
}
@media(min-width: 1400px){

}
