$primaryColor: #77DD77;
$secondaryColor: #F6F6D8;
$thirdColor: #FFC067;

*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
.intro-section{
    background-color: gray;
    width: 100%;
}
// most phones
@media(max-width: 767px){
    .intro-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        .intro-txt{
            padding-bottom: 0px;
            text-align: center;
            h3{
                padding-bottom: 5px;
            }
            h5{
                padding: 10px 0px;
            }
        }
        .search-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .search-bar{
                height: 150px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                input{
                    border-radius: 15px;
                    border: 1px solid $primaryColor;
                    padding: 15px 50px 15px 15px;
                }
                button{
                    width: 80%;
                    margin-right: auto;
                    margin-left: auto;
                    border-radius: 15px;
                    padding: 5px 25px;
                    border: 1px solid $thirdColor;
                }
            }
            .search-display{
                width: 100%;
                ul{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    li{
                        padding: 5px 15px;
                        margin-top: 2px;
                        background-color: $secondaryColor;
                        color: black; 
                        border-radius: 10px;
                        width: fit-content;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
// medium sized screens
@media(min-width: 768px){
    .intro-section{
        background-color: gray;
        height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .intro-txt{
            padding-bottom: 15px;
            font-size: 26px;
            text-align: center;
            h3{
                padding-bottom: 15px;
            }
            h5{
                padding: 10px 0px;
            }
        }
        .search-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .search-bar{
                input{
                    text-indent: 10px;
                    margin-right: 5px;
                    border-radius: 15px;
                    border: 1px solid $primaryColor;
                    padding: 15px 50px 15px 15px;
                    font-size: 20px;
                }
                button{
                    margin: 0px 5px;
                    border-radius: 15px;
                    border: 1px solid $thirdColor;
                    padding: 15px 25px;
                    font-size: 14px;
                }
            }
            .search-display{
                width: 100%;
                ul{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    li{
                        padding: 10px 15px;
                        margin: 10px 15px;
                        font-size: 20px;
                        background-color: $secondaryColor;
                        color: black; 
                        border-radius: 15px;
                    }
                }
            }
        }
    }
}