@import './global.scss';

li{
    list-style: none;
}
h1{
    color: gray;
}

@media(max-width: 767px){
    .header-section{
        width: 100%;
        background-color: $primaryColor;
        .nav-bar{
            display: flex;
            flex-direction: row;
        }
        .hamburger-icon{
            display: flex;
            flex-direction: column;
            gap: 5px;
            cursor: pointer;
            .bar{
                width: 25px;
                height: 3px;
                background-color: white;
            }
        }
        .search-food-btn-container{
            .search-food-btn{
                input{
                    border-radius: 15px;
                    border: 1px solid $primaryColor;
                    padding: 10px 100px 10px 15px;
                }
                button{
                    margin-left: 10px;
                    border-radius: 15px;
                    padding: 8px 25px;
                    border: 1px solid $thirdColor;
                    cursor: pointer;
                }
            }
        }
        .mobile-nav-links{
            position: absolute;
            top: 60px;
            right: 10px;
            background-color: $thirdColor;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    .header-section{
        .desktop{
            display: none;
        }
    }
}
@media(min-width: 768px){
    .header-section{
        width: 100%;
        background-color: $primaryColor;
        .nav-bar{
           display: flex;
           flex-direction: row;
           justify-content: space-around;
           align-items: center;
           height: 8vh;
           .nav-other-choices{
                display: flex;
                flex-direction: row;
                .search-food-btn-container{
                    .search-food-btn{
                        input{
                            border-radius: 15px;
                            border: 1px solid $primaryColor;
                            padding: 10px 200px 10px 15px;
                        }
                        button{
                            margin-left: 10px;
                            border-radius: 15px;
                            padding: 8px 25px;
                            border: 1px solid $thirdColor;
                            cursor: pointer;
                        }
                    }
                }
            }
            .nav-links{
                ul{
                    display: flex;
                    flex-direction: row;
                    li{
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .header-section{
        .mobile{
            display: none;
        }
    }
}