@import './global.scss';

body{
    background-color: $secondaryColor;
}

@media(max-width: 767px) {

}

@media(min-width: 768px) {
    .saved-foods-results-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .saved-foods-header {
            color: black;
        }
        .saved-foods-results {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .food-result {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0 5px 0 5px;
            }
        }
    }
}